*{
	scrollbar-width: thin !important;
    scrollbar-color:  #ccc #fff !important;
}
::-webkit-scrollbar {
    width: 7px;
}  
::-webkit-scrollbar-thumb {
    background: #ccc; 
}

::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
} 